@using Application.Dtos;
@using Domain.Enums;

@model LlpaUpsertDto

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLlpa" }))
{
    <div>
        @Html.LabelFor(m => m.Occupancy)
        @Html.DropDownListFor(m => m.Occupancy, (from Occupancy e in Enum.GetValues(typeof(Occupancy)).OfType<Occupancy>().ToList()
                                                                         select new SelectListItem { Value = e.ToString(), Text = e.ToString() }), "", new { })
        @Html.LabelFor(m => m.PropertyType)
        @Html.DropDownListFor(m => m.PropertyType, (from PropertyType e in Enum.GetValues(typeof(PropertyType)).OfType<PropertyType>().ToList()
                                                                         select new SelectListItem { Value = e.ToString(), Text = e.ToString() }), "", new { })
        @Html.LabelFor(m => m.Purpose)
        @Html.DropDownListFor(m => m.Purpose, (from Purpose e in Enum.GetValues(typeof(Purpose)).OfType<Purpose>().ToList()
                                                                         select new SelectListItem { Value = e.ToString(), Text = e.ToString() }), "", new { })
    </div>
    <div>
        @Html.LabelFor(m => m.PriceAdjustment)
        @Html.EditorFor(m => m.PriceAdjustment)
        @Html.LabelFor(m => m.PriceCeiling)
        @Html.EditorFor(m => m.PriceCeiling)
        @Html.LabelFor(m => m.PriceFloor)
        @Html.EditorFor(m => m.PriceFloor)
    </div>
    <button id="btnSubmit" type="button">Submit</button>
}